body {
    background-image: url("rain.jpg");
    background-repeat: no-repeat;
    width: 900px;
    background-size: cover;
}
img.sadbg {
    z-index: 0;
}
img.sadcloud {
    z-index: 1;
    float: left;
    top: 40%;
}
img.happy {
    z-index: 2;
}
a {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 30px;
    text-decoration: none;
    padding: 8px;
    color: white;
    background-color: rgb(49, 140, 182)
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 200px;
    text-align: right;
}
p {
    font-family: 'Quicksand', sans-serif;
}