body {
    background-image: url("rain.jpg");
    background-repeat: no-repeat;
    width: 900px;
    background-size: cover;
}
img.sadbg {
    position: absolute;
    z-index: 0;
}
img.sadcloud {
    position: absolute;
    z-index: 1;
    float: left;
}
img.happy {
    position: absolute;
    visibility: hidden;
    z-index: 2;
}
a {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 30px;
    text-decoration: none;
    padding: 8px;
    color: white;
    background-color: rgb(49, 140, 182)
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 200px;
    text-align: right;
    color: white;
    text-shadow: 18px 7px 12px rgb(180, 179, 179)
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: rgb(114, 114, 114);
}