body {
    background-image: url("rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sadcloud {
    animation-name: shake;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  div.butt {
    display: inline-flex;
    align-items: center;
  }
a {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 30px;
    border: 1px solid rgb(158, 158, 158);
    text-decoration: none;
    padding: 8px;
    color: white;
    background-color: rgb(131, 183, 196)
}
a:hover {
    background-color: pink;
    cursor: pointer;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 300px;
    margin:0;
    display:inline-block;
    color: white;
    text-shadow: 18px 7px 12px rgb(158, 158, 158)
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(114, 114, 114);
}