body {
    background-image: url("rain.jpg");
    background-repeat: no-repeat;
    max-height: 700px;
    width: 900px;
    background-size: cover;
}
img.sadcloud {
    position: absolute;
    z-index: 1;
    float: left;
    left: 7%;
    top: -3%;
    width: 420px;
    height: 420px;
}
img.happy {
    position: absolute;
    visibility: hidden;
    z-index: 2;
}
a {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 30px;
    position: absolute;
    z-index: 0;
    text-decoration: none;
    padding: 8px;
    color: white;
    background-color: rgb(49, 140, 182)
}
span.up {
    position: absolute;
    top: -5%;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 400px;
    margin-right: -80px;
    text-align: center;
    color: white;
    text-shadow: 18px 7px 12px rgb(158, 158, 158)
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: rgb(114, 114, 114);
    text-align: center;
}